

.want {
font-family: "Acme", sans-serif;
font-size: 25px;
padding: 30px 15px;
}

.want button {
  font-family: "Acme", sans-serif;
  font-size: 20px;
  margin: 10px ;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}