/* Add root styling here */
:root {
  display: block;
  align-self: center;
  line-height: 1.4;
  text-align: center;
  inline-size: 60%;
  margin: auto ;
  padding: 40px 0;
  background-image: url(paw-pattern-background.svg);
  background-size:contain;
}